<!DOCTYPE html>
<html lang="en">

<head>
	<title>Add New Entry Page</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    {{!-- <link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet"> --}}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    {{!-- My CSS  --}}
    <link href="/css/top-navbar.css" rel="stylesheet" type="text/css">
	<link href="css/addNewEntry.css" rel="stylesheet">

    {{!-- enable JQuery --}}
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/addNewEntry_anim.js"></script>
   
    {{!-- JS support for giving star rating --}}
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
</head>

<body>
    <div class="parent">
        <div class="left">
            <img src="/css/pics/back-arrow.png" onclick="location.href='./home'" alt="back to main page arrow">
        </div>
        <p class="center">New Expense</p>
        <div class="right dropdown">
            <button id="dropbtn">
                <img src="{{home_data.fb_profile_url}}" height="40px" width="40px">
                <i class="fa fa-caret-down" style="display: inline-block;"></i>
            </button>
            <div class="dropdown-content">
                <a href="./home">Home</a>
                {{!-- <hr> --}}
                <a href="./profile">Profile</a>
                {{!-- <hr> --}}
                <a href="./help">Help</a>
                {{!-- <hr> --}}
                <a href="./">Logout</a>
            </div>
        </div>
    </div>

    <div class="container">
        <form id="newEntryForm"></form>
    
        <div class="top_info" style="max-width: 900px; margin-top: 15px;">

            {{!-- Name of Spending--}}
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="pizza,T-shirt,laptop,..." 
            form="newEntryForm" required autofocus> 

            {{!-- Drop-down list of current categories --}}
            <label for="categories">Category</label>
            {{#with expenses}}
            <select id="categories" name="category" form="newEntryForm">
                <option value="-2" disabled>Select Category:</option>
                {{#each categories}}
                    <option value="{{id}}">{{@key}}</option>
                {{/each}}
                <option value="-1">+ New Category</option>
            </select>
            {{/with}}

            {{!-- Amount --}}
            <label for="amount">Amount</label>
            <div class="dollar">
                <input type="number" step="any" id="amount" name="amount" placeholder="e.g., $5.06; up to 20k" min="0" max="20000" 
                form="newEntryForm" required>
            </div>

            {{!-- Rating  --}}
            <label for="rating">Rating</label>
        </div>

        <div style="max-width: 900px;">
            {{!-- <form id="rating"
                method="get"
                action-xhr="https://amp.dev/documentation/examples/interactivity-dynamic-content/star_rating/set"
                target="_blank"> --}}
            {{!-- checked="checked" --}}
            <fieldset class="rating" form="newEntryForm">
                <input name="rating"
                type="radio"
                id="rating5"
                value="5"
                on="change:rating.submit">
                <label for="rating5" title="5 stars">☆</label>

                <input name="rating"
                type="radio"
                id="rating4"
                value="4"
                on="change:rating.submit">
                <label for="rating4" title="4 stars">☆</label>

                <input name="rating"
                type="radio"
                id="rating3"
                value="3"
                on="change:rating.submit">
                <label for="rating3" title="3 stars">☆</label>

                <input name="rating"
                type="radio"
                id="rating2"
                value="2"
                on="change:rating.submit">
                <label for="rating2" title="2 stars">☆</label>

                <input name="rating"
                type="radio"
                id="rating1"
                value="1"
                on="change:rating.submit">
                <label for="rating1" title="1 stars">☆</label>
            </fieldset>
                {{!-- <div submit-success>
                    <template type="amp-mustache">
                    <p>Thanks for rating {{rating}} star(s)!</p>
                    </template>
                </div>
                <div submit-error>
                    <template type="amp-mustache">
                        Looks like something went wrong. Please try to rate again. {{error}}
                    </template>
                </div> --}}
            {{!-- </form> --}}
            <br>

            <button class="addNewEntryBtn" style="float: left;" onclick="resetAll()">Reset</button>
            <button type="button" value="Add" class="addNewEntryBtn" style="float: right;">Add</button>

            <div id="dialog" title="New Expense Added!">
                <img src="/css/pics/burger.png" alt="Burger Image" height="40px" width="40px" style="display:inline-block; vertical-align:middle;"> 
                <p> + 1</p>
            </div>
            <style>
                div#dialog p {
                    color: orange; 
                    display:inline-block; 
                    font-weight:bold; 
                    font-size: 28px;
                    line-height:40px; 
                    margin-bottom:0;
                    margin-left: 10px;
                    vertical-align:middle;
                }
            </style>

            <div id="dialog-warning" title="New Expense Added!" style="height: auto;">
                <p>Budget exceeded! Spend smart from now on!</p>
            </div>
            <style>
                #dialog-warning p {
                    font-size: 20px;
                    color: red;
                }
            </style>

        </div>
    </div>


    <script>
    function resetAll() {
        location.reload(); 
    }
    </script>

</body>

</html>