<!DOCTYPE html>
<html lang="en">

<head>
	<title>Help Page</title>
	<meta charset="utf-8">
	{{!-- Necessary for a RESPONSIVE website; compatible with mobile broweser --}}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  	{{!-- <link rel="stylesheet" href="/resources/demos/style.css"> --}}
	{{!-- My CSS  --}}
	<link href="/css/budget.css" rel="stylesheet" type="text/css">

	{{!-- enable JQuery --}}
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="/js/budget_action.js"></script>
</head>

<body>
	<div class="container">
		<div class="parent">
            <div class="left">
                {{!-- back to main page index.handlebars arrow  --}}
                <img src="css/pics/back-arrow.png" onclick="location.href='./home'" alt="back (to main page) arrow" height="30px" width="30px">
            </div>
            <p class="center">Budgets</p>
            <div class="right"></div>
        </div>


		{{!-- <form id="newEntryForm" action="./overHist" style="margin: 10px auto 20px;"></form> --}}
		{{#each categories}}
		<div class="each-budget">
			<a class="cate" href="./cate/{{@key}}" style="text-decoration: underline;">{{@key}}</a>
			{{#unless budget}}
			<div id="budget{{@key}}" style="color: orange;">Unset</div>
			{{else}}
			<div id="budget{{@key}}" style="color: green;">${{budget}}</div>
			{{/unless}}
			<img src="/css/pics/edit_icon.png" id="img{{@key}}" height="25px" width="25px" 
			style="float: right; margin-right: 10px; margin-left: auto;">
		</div>
		{{/each}}

		{{!-- Pop up on clicking the edit icon  --}}		
		<div class="budget-dialog" style="width: 250px; height: 300px;">
			<label for="dialogBox" style="display: block;">Budget</label>
			<input type="number" step="any" name="dialogBox" id="dialogBox" value=""
			placeholder="At least $10; up to $40k" min="10" max="40000" required
			style="width: 100%; height: 40px;">
		</div>

		{{!-- <input type="submit" value="Yes" class="budgetBtn" style="float: left;"
		form="newEntryForm" onclick="setNewBudgets()">
		<button class="budgetBtn" style="float: right;" onclick="resetAll()">Cancel</button> --}}
	</div>
	
	<script>
		{{!-- function resetAll() {
			location.reload(); 
			console.log("Reset!");
			alert("reset!");
		}

		function setNewBudgets() {
			alert("Work in Progress!");
		} --}}
	</script>
</body>

</html>