<!DOCTYPE html>
<html lang="en">

<head>
	<title>Each Category Page</title>
	<meta charset="utf-8">
	{{!-- Necessary for a RESPONSIVE website; compatible with mobile broweser --}}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- MUST include the precursory slash (only for this file)! --}}
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	{{!-- My CSS  --}}
	<link href="/css/cate.css" rel="stylesheet" type="text/css">
    <style>
        .all-items{
            overflow: scroll;
            margin-top: 20px;
            {{!-- display: flex; --}}
        }
        .each-item{
            display: inline-block;
            border: 2px solid rgb(13, 97, 13);
            border-radius: 10px;
            margin-bottom: 15px;
            height: 50px;
            width: 100%;
        }
    </style>

	{{!-- enable JQuery --}}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="parent">
            <div class="left">
                {{!-- back to main page index.handlebars arrow  --}}
                <img src="/css/pics/back-arrow.png" onclick="location.href='../overHist'" alt="back to overview arrow" height="30px" width="30px">
            </div>
            <p class="center">{{cateName}}</p>
            <div class="right"></div>
        </div>

        <div class="all-items">
            {{#each exp_list}}
                <div class="each-item" style="padding-left: 10px;">
                    <div style="background-color: yellow; width: fit-content;">
                        {{name}}: ${{amount}}, Rating: {{rating}}
                    </div>
                    <div>{{date}}</div>
                    {{#repeat count=rating}}
                    <div style="display: inline;">Star </div>
                    {{/repeat}}
                </div>
            {{/each}}
        </div>

        <script>
            {{!-- $(document).ready(loadRating);
            function loadRating(e) {
                var stars = "";
                for
                $("div.each-item").append(stars);
            } --}}
        </script>
        
    </div>


</body>

</html>
