<!DOCTYPE html>
<html lang="en">

<head>
	<title>Each Category Page</title>
	<meta charset="utf-8">
	{{!-- Necessary for a RESPONSIVE website; compatible with mobile broweser --}}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {{!-- MUST include the precursory slash (only for this file)! --}}
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	{{!-- <link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet"> --}}

	{{!-- My CSS  --}}
    <link href="/css/top-navbar.css" rel="stylesheet" type="text/css">
	<link href="/css/cate.css" rel="stylesheet" type="text/css">

	{{!-- enable JQuery --}}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/cate_action.js"></script>
</head>

<body>
    <div class="parent">
        <div class="left">
            <img src="/css/pics/back-arrow.png" onclick="location.href='../overHist'" alt="back to main page arrow">
        </div>
        <p class="center">{{cateName}}</p>
        <div class="right dropdown">
            <button id="dropbtn">
                <img src="{{home_data.fb_profile_url}}" height="40px" width="40px">
                <i class="fa fa-caret-down" style="display: inline-block;"></i>
            </button>
            <div class="dropdown-content">
                <a href="../home">Home</a>
                {{!-- <hr> --}}
                <a href="../profile">Profile</a>
                {{!-- <hr> --}}
                <a href="../help">Help</a>
                {{!-- <hr> --}}
                <a href="../">Logout</a>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="budget-spent" style="margin-top: 15px;">
            <div style="padding-left: 10px; color: green;" >
                Budget:
                {{#with budget_spent}}
                    {{#unless budget}}
                    <a href="../budget" style="color: orange;">Unset</a>
                    {{else}}
                    <a href="../budget" style="color: green;">${{budget}}</a>
                    {{/unless}}
                {{/with}}
            </div>
            <div style="color: red; text-align: right; padding-right: 10px;">
                Spent: ${{budget_spent.spent}}
            </div>
        </div>

        <div class="all-items">
            {{#each exp_list}}
                <div class="each-item" style="padding-left: 10px;">
                    <div style="width: fit-content; font-weight: bold;">
                        {{name}}: ${{amount}}, Rating: {{rating}}
                    </div>
                    <div>{{date}}</div>
                    {{#repeat count=rating}}
                    <div style="display: inline;">Star </div>
                    {{/repeat}}
                </div>
            {{/each}}
        </div>

        <script>
            {{!-- $(document).ready(loadRating);
            function loadRating(e) {
                var stars = "";
                for
                $("div.each-item").append(stars);
            } --}}
        </script>
        
    </div>


</body>

</html>
