<!DOCTYPE html>
<html lang="en">

<head>
	<title>Each Category Page</title>
	<meta charset="utf-8">
	{{!-- Necessary for a RESPONSIVE website; compatible with mobile broweser --}}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- MUST include the precursory slash (only for this file)! --}}
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	{{!-- My CSS  --}}
	<link href="/css/cate.css" rel="stylesheet" type="text/css">
    <style>
    </style>

	{{!-- enable JQuery --}}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="parent">
            <div class="left">
                {{!-- back to main page index.handlebars arrow  --}}
                <img src="/css/pics/back-arrow.png" onclick="location.href='../overHist'" alt="back to overview arrow" height="30px" width="30px">
            </div>
            <p class="center">{{cateName}}</p>
            <div class="right"></div>
        </div>

        <div class="budget-spent">
            <div style="padding-left: 10px; color: green;" >
                Budget:
                {{#with budget_spent}}
                    {{#unless budget}}
                    <a href="../budget" style="color: orange;">Unset</a>
                    {{else}}
                    <a href="../budget" style="color: green;">${{budget}}</a>
                    {{/unless}}
                {{/with}}
            </div>
            <div style="color: red; text-align: right; padding-right: 10px;">
                Spent: ${{budget_spent.spent}}
            </div>
        </div>

        <div class="all-items">
            {{#each exp_list}}
                <div class="each-item" style="padding-left: 10px;">
                    <div style="width: fit-content; font-weight: bold;">
                        {{name}}: ${{amount}}, Rating: {{rating}}
                    </div>
                    <div>{{date}}</div>
                    {{#repeat count=rating}}
                    <div style="display: inline;">Star </div>
                    {{/repeat}}
                </div>
            {{/each}}
        </div>

        <script>
            {{!-- $(document).ready(loadRating);
            function loadRating(e) {
                var stars = "";
                for
                $("div.each-item").append(stars);
            } --}}
        </script>
        
    </div>


</body>

</html>
