<!DOCTYPE html>
<html lang="en">

<head>
	<title>Overview & History Page</title>
	<meta charset="utf-8">
	{{!-- Necessary for a RESPONSIVE website; compatible with mobile broweser --}}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	{{!-- My CSS  --}}
	<link href="css/overHist.css" rel="stylesheet" type="text/css">

	{{!-- enable JQuery --}}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container" id="overview" style="display: block;">
         <div class="parent">
            <div class="left">
                {{!-- back to main page index.handlebars arrow  --}}
                <img src="/css/pics/back-arrow.png" onclick="location.href='./home'" alt="back to main page arrow">
            </div>
            <p class="center">Overview</p>
            <div class="right"></div>
        </div>

        <div class="all-cates">
            {{#each cates-expenses}}
            <div class="each-cate" onclick="location.href='./cate/{{@key}}' ">
                <div>{{@key}}</div>
                <img src="css/pics/right-arrow.png" alt="go to each category arrow">
            </div>
            {{/each}}
        </div>
    </div>

    <div class="container" id="history" 
    style="display: none; margin-bottom: 55px;">
        <div class="parent">
            <div class="left">
                {{!-- back to main page index.handlebars arrow  --}}
                <img src="/css/pics/back-arrow.png" onclick="openTab('overview')" alt="back to main page arrow">
            </div>
            <p class="center">History</p>
            <div class="right"></div>
        </div>

        <div class="all-items">
            {{#each cates-expenses}}
            <p style="background-color: yellow; width: fit-content;">{{@key}}:</p> 
            {{#each this}}
            <div class="each-item" style="padding-left: 10px;">
                <div>{{name}}: ${{amount}}</div>
                <div style="background-color: aqua; width: fit-content;">{{@key}}</div>
                <div>{{date}}</div>
            </div>
            {{/each}}
            {{/each}}
        </div>
    </div>

    {{!-- bottom navbar / Overview vs History  Switch tab --}}
    <div class="tab_bar" style="width: 100%;">
       <button onclick="openTab('overview')" id="overviewBtn" 
       style="background-color: bisque; border-right: none;">Overview</button>
       <button onclick="openTab('history')" id="historyBtn" style="background-color: #EFEFEF;">History</button>
    </div>
   
    <script>
        {{!-- $(document).ready(openTab); --}}
        function openTab(tabName) {
            $(".container").hide();
            $("#" + tabName).show();
            $("#" + tabName + "Btn").css("background-color", "bisque");
            if(tabName == "overview") {
                $("#historyBtn").css("background-color", "#EFEFEF");
            }else{
                $("#overviewBtn").css("background-color", "#EFEFEF");
            }
        }
    </script>
</body>

</html>
