<!DOCTYPE html>
<html lang="en">

<head>
	<title>Overview & History Page</title>
	<meta charset="utf-8">
	{{!-- Necessary for a RESPONSIVE website; compatible with mobile broweser --}}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	{{!-- <link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet"> --}}

	{{!-- My CSS  --}}
    <link href="/css/top-navbar.css" rel="stylesheet" type="text/css">
	<link href="css/overHist.css" rel="stylesheet" type="text/css">

	{{!-- enable JQuery --}}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/overHist_action.js"></script>

    {{!-- Google 3D PIECHART  --}}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var cate_spent_arr = [
            ['Category', 'Total Spent'],
        ];
        var cates = $('div#cateName');
        var spents = $('div#spent');
        for(var i=0; i<=cates.length; i++) {
            cate_spent_arr.push( [$(cates).eq(i).text(), parseFloat($(spents).eq(i).text() )] );
        }
        {{!-- $(cates).each(function(index) {
            cate_spent_arr.push( [$(this).text(), 5] );
        }); --}}
        {{!-- console.log("cate_spent_arr length: " + cate_spent_arr.length); --}}

        var data = google.visualization.arrayToDataTable(cate_spent_arr);

        var options = {
            titlePosition: 'none',
            is3D: true,
            backgroundColor: 'transparent',
            chartArea: {left:25, right: 25, top:5, bottom: 25, width:'90%', height:'90%'},
            legend: {position: 'bottom'}
        };

        var chart = new google.visualization.PieChart( document.getElementById('piechart') );
        chart.draw(data, options);
    }
    </script>
</head>

{{!-- style="overflow: hidden; height: 100%;" --}}
<body>
    <div class="parent">
        <div class="left">
            <img src="/css/pics/back-arrow.png" onclick="location.href='./home'" alt="back to main page arrow">
        </div>
        <p class="center">Overview</p>
        <div class="right dropdown">
            <button id="dropbtn">
                <img src="{{home_data.fb_profile_url}}" height="40px" width="40px">
                <i class="fa fa-caret-down" style="display: inline-block;"></i>
            </button>
            <div class="dropdown-content">
                <a href="./home">Home</a>
                {{!-- <hr> --}}
                <a href="./profile">Profile</a>
                {{!-- <hr> --}}
                <a href="./help">Help</a>
                {{!-- <hr> --}}
                <a href="./">Logout</a>
            </div>
        </div>
    </div>

    <div class="container" id="overview" style="display: block;">

        {{!-- Google piechart - spending breakdown by cate  --}}
        <div class="piechart">
            <div id="piechart_title">Your Total Spending</div>
            <div id="piechart"></div>
        </div>

        {{#with expenses}}
        {{!-- hidden element: [category, total spent] --}}
        <div style="display: none;">
            {{#each categories}}
            <div id="cateName">{{@key}}</div>
            <div id="spent">{{spent}}</div>
            {{/each}}
        </div>
 
        <p id="above-all-cates">All Categories</p>

        <div class="all-cates">
            {{#each cates-expenses}}
            <div class="each-cate" onclick="location.href='./cate/{{@key}}' ">
                <div>{{@key}}</div>
                <img src="css/pics/right-arrow.png" alt="go to each category arrow">
            </div>
            {{/each}}
        </div>
        {{/with}}
    </div>

    <div class="container" id="history" 
    style="display: none; margin-bottom: 55px;">

        {{#with expenses}}
        <div class="all-items">
            {{#each history}}
            <div class="each-item" style="padding-left: 10px;">
                <div style="font-weight: bold;">{{name}}: ${{amount}}, rating: {{rating}}</div>
                <div style="background-color: AliceBlue; width: fit-content;">{{category}}</div>
                <div>{{date}}</div>
            </div>
            {{/each}}
            {{!-- {{#each cates-expenses}}
            <p style="background-color: yellow; width: fit-content;">{{@key}}:</p> 
            {{#each this}}
            <div class="each-item" style="padding-left: 10px;">
                <div>{{name}}: ${{amount}}, rating: {{rating}}</div>
                <div style="background-color: AliceBlue; width: fit-content;">{{@key}}</div>
                <div>{{date}}</div>
            </div>
            {{/each}}
            {{/each}} --}}
        </div>
        {{/with}}
    </div>

    {{!-- bottom navbar / Overview vs History  Switch tab --}}
    <div class="tab_bar" style="width: 100%;">
       <button onclick="openTab('overview')" id="overviewBtn" 
       style="background-color: #ffcb91; border-right: none;">Overview</button>
       <button onclick="openTab('history')" id="historyBtn" style="background-color: #EFEFEF;">History</button>
    </div>
   
    <script>
        {{!-- $(".movie_list").on("click", function() {
            var href=$(this).data("href");
            location.href = href.replace("http://sample.com","myfile.php");
        }); --}}
        function openTab(tabName) {
            $(".container").hide();
            $("#" + tabName).show();
            $("#" + tabName + "Btn").css("background-color", "#ffcb91");
            if(tabName == "overview") {
                $("#historyBtn").css("background-color", "#f0f8ff");
                $(".parent p.center").text("Overview");
                $(".left img").on("click", function() {
                    {{!-- var hypref = $(this).data("href"); --}}
                    location.href = "./home";
                });
            }else{
                $("#overviewBtn").css("background-color", "#f0f8ff");
                $(".parent p.center").text("History");
                 $(".left img").on("click", function() {
                    {{!-- var hypref = $(this).data("href"); --}}
                    location.href = "./overHist";
                });
            }
        }
    </script>
</body>

</html>
